.LoginPage {
  flex-grow: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginContent {
  height: 10rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnLogin {
  width: 200px;
}
